@model Model.EF.Product
@{
    ViewBag.Title = "productDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RelateProduct = (List<Model.EF.Product>)ViewBag.RelateProduct;
    var Category = (Model.EF.ProductCategory)ViewBag.Category;


}
@section jsFooter{
    <script src="/Assets/Client/js/jquery.etalage.min.js"></script>
    <script type="text/javascript" src="/Assets/Client/js/jquery.flexisel.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
}
<div class=" single_top">
    <div class="single_grid">
        <div class="grid images_3_of_2">
            <ul id="etalage" class="etalage" style="display: block; width: 302px; height: 535px;">
                <li class="etalage_thumb thumb_1" style="display: list-item; background-image: none; opacity: 0.0442984;">
                    <a href="optionallink.html">
                        <img class="etalage_thumb_image" src="/Assets/Client/images/download.jpg" alt="" style="width:86px; height: 115px;"/>
                        <img class="etalage_source_image" src="/Assets/Client/images/download.jpg" alt="" style="width:86px; height: 115px;" title="" />
                    </a>
                </li>
                <li>
                    <img class="etalage_thumb_image" src="/Assets/Client/images/sh.jpg" alt=" "" />
                    <img class="etalage_source_image" src="/Assets/Client/images/sh.jpg" alt=" "" title="" />
                </li>
                <li>
                    <img class="etalage_thumb_image" src="/Assets/Client/images/sh.jpg" alt=" "" />
                    <img class="etalage_source_image" src="/Assets/Client/images/sh.jpg" alt=" "" />
                </li>
                <li>
                    <img class="etalage_thumb_image" src="/Assets/Client/images/sh.jpg" alt=" "" />
                    <img class="etalage_source_image" src="/Assets/Client/images/sh.jpg" alt=" "" />
                </li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">


            <h4>@Model.Name</h4>
            <div class="cart-b">
                <div class="left-n ">@Model.Price.Value.ToString("c0")</div>
                <a class="now-get get-cart-in" href="#">ADD TO CART</a>
                <div class="clearfix"></div>
            </div>
            <h6>@Model.Quantity items in stock</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <div class="share">
                <h5>Share Product :</h5>
                <ul class="share_nav">
                    <li><a href="https://www.facebook.com/"><img src="/Assets/Client/images/facebook.png" title="facebook"></a></li>
                    <li><a href="#"><img src="/Assets/Client/images/twitter.png" title="Twiiter"></a></li>
                    <li><a href="#"><img src="/Assets/Client/images/rss.png" title="Rss"></a></li>
                    <li><a href="#"><img src="/Assets/Client/images/gpluse.png" title="Google+"></a></li>
                </ul>
            </div>


        </div>
        <div class="clearfix"> </div>
    </div>
    <ul id="flexiselDemo1">
        @foreach (var item in RelateProduct)
        {
            @*<li><img src="@item.Image" /><div class="grid-flex"><a href="ProductDetail/@item.ID">@item.Name</a><p>@Category.Name</p></div></li>*@
            <li><img src="@item.Image" /><div class="grid-flex">@Html.ActionLink(item.Name,"ProductDetail",new { id = item.ID})<p>@Category.Name</p></div></li>
        }


    </ul>



    <div class="toogle">
        <h3 class="m_3">Product Details</h3>
        <p class="m_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
    </div>
</div>
